<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tajchert.hours"
    android:versionCode="43"
    android:versionName="2.2.0" >

    <uses-permission
        android:name="android.permission.READ_CALENDAR"
        android:label="CALENDAR READ" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeScreens="true"
        android:theme="@style/AppTheme"
        android:xlargeScreens="true" >

        <!-- Basic Config -->
        <activity
            android:name=".config.Configure"
            android:label="12Hours"
            android:theme="@style/AppTheme" >

            <!-- .Dialog if needed -->
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <!-- SETTINGS -->

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lists.PickCalendars"
            android:label="Pick calendars"
            android:theme="@style/AppThemeDialog" >
        </activity>
        <activity
            android:name=".ui.ActivityWidgetSettings"
            android:label="@string/title_activity_activity_widget_settings"
            android:theme="@style/AppThemeNoActionBar"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".ui.MainActivity">
        </activity>
        <activity
            android:name=".ui.ActivityAddColors"
            android:label="Add color"
            android:theme="@style/AppThemeDialog" >
        </activity>
        <activity
            android:name=".ui.ActivityColorManagment"
            android:label="@string/title_activity_activity_color_managment"
            android:noHistory="true"
            android:parentActivityName=".ui.MainActivity" >
        </activity>

        <service
            android:name=".WidgetUpdateService"
            android:enabled="true" />

        <!-- Calendar event change receiver -->
        <receiver android:name=".calendar.CalendarProviderListener" >
            <intent-filter>
                <action android:name="android.intent.action.PROVIDER_CHANGED" />

                <data android:scheme="content" />
                <data android:host="com.android.calendar" />
            </intent-filter>
        </receiver>

        <!-- Widgets -->


        <!-- Small -->
        <receiver
            android:name=".widgets.WidgetProviderExtraSmall"
            android:label="12Hours Small" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_very_small_config" />
        </receiver>
        <!-- Medium -->
        <receiver
            android:name=".widgets.WidgetProviderSmall"
            android:label="12Hours Medium" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_small_config" />
        </receiver>
        <!-- BIG -->
        <receiver
            android:name=".widgets.WidgetProvider"
            android:label="12Hours" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_config" />
        </receiver>

        <activity
            android:name=".ui.FreeTimeActivity"
            android:label="@string/title_activity_free_time"
            android:parentActivityName=".ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tajchert.hours.ui.MainActivity" />
        </activity>
    </application>

</manifest>
